<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        dev.brahmkshatriya.echo.music tells Echo to load this APK as a MusicExtension.
        Change to .tracker, .lyrics, or .misc for other extension types.
    -->
    <uses-feature android:name="dev.brahmkshatriya.echo.music" />

    <application
        android:label="Qobuz Lossless"
        android:allowBackup="false">

        <meta-data android:name="class"
            android:value="dev.brahmkshatriya.echo.extension.qobuz.QobuzExtension" />
        <meta-data android:name="id"       android:value="echo-qobuz-lossless" />
        <meta-data android:name="name"     android:value="Qobuz Lossless" />
        <meta-data android:name="version"  android:value="1.0.0" />
        <meta-data android:name="author"   android:value="Echo Community" />
        <meta-data android:name="description"
            android:value="Stream lossless FLAC audio via kennyy.com.br with optional squid.wtf fallback" />

    </application>
</manifest>
